<div class="w-25 mx-auto p-4 mt-5 bg-secondary text-light">
  <h1 class="text-center">Log In</h1>
  <%= form_with model: @session do |f|%>
    <div class="mb-3">
      <%= f.label :email, class:"form-label" %>
      <%= f.email_field :email, class:"form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password,  class:"form-label" %>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <%= f.submit "Log In", class:"btn btn-primary" %>
  <% end %>
</div>
