<div class="container">
  <%= link_to "Invite Admin", new_invitation_path, class:"btn btn-primary float-end" %>
</div>
<div class="container mt-5 p-3">
  <div class="row">
    <%= link_to sections_path, class:"col-md-2 home-link mb-2" do %>
      <div class="card text-center section-link">
        <div class="image">
          <%= image_tag 'sections.png', style:'height:150px;padding:5px' %>
        </div>
        <span>Sections</span>
      </div>
    <% end %>
    <%= link_to class_categories_path, class:"col-md-2 home-link mb-2" do %>
      <div class="card text-center section-link">
        <div class="image">
          <%= image_tag 'classes.png', style:'height:150px;padding:5px', class:'img' %>
        </div>
        <span>Classes</span>
      </div>
    <% end %>
    <%= link_to fee_structures_path, class:"col-md-2 home-link mb-2" do %>
      <div class="card text-center section-link">
        <div class="image">
          <%= image_tag 'fee.png', style:'height:150px;padding:5px' %>
        </div>
        <span>Fee Structures</span>
      </div>
    <% end %>
    <%= link_to age_criteria_path, class:"col-md-2 home-link mb-2" do %>
      <div class="card text-center section-link">
        <div class="image">
          <%= image_tag 'age.png', style:'height:150px;padding:5px' %>
        </div>
        <span>Age Criteria</span>
      </div>
    <% end %>
    <%= link_to students_path, class:"col-md-2 home-link mb-2" do %>
      <div class="card text-center section-link">
        <div class="image">
          <%= image_tag 'students.png', style:'height:150px;padding:5px' %>
        </div>
        <span>Students</span>
      </div>
    <% end %>
    <%= link_to payments_path, class:"col-md-2 home-link mb-2" do %>
      <div class="card text-center section-link">
        <div class="image">
          <%= image_tag 'payment.png', style:'height:150px;padding:5px' %>
        </div>
        <span>Payment</span>
      </div>
    <% end %>
  </div>
</div>
