<div class='container my-5 d-flex flex-row gap-4 flex-wrap justify-content-center'>
  <%= link_to sections_path, class:'home-link mx-5' do %>
    <div class='card text-center section-link py-2 px-3'>
      <div class='image'>
        <%= image_tag 'sections.png', style:'height:150px;padding:5px' %>
      </div>
      <span>Sections</span>
    </div>
  <% end %>
  <%= link_to class_categories_path, class:'home-link mx-5' do %>
    <div class='card text-center section-link py-2 px-3'>
      <div class='image'>
        <%= image_tag 'classes.png', style:'height:150px;padding:5px', class:'img' %>
      </div>
      <span>Classes</span>
    </div>
  <% end %>
  <%= link_to fee_structures_path, class:'home-link mx-5' do %>
    <div class='card text-center section-link py-2 px-3'>
      <div class='image'>
        <%= image_tag 'fee.png', style:'height:150px;padding:5px' %>
      </div>
      <span>Fee Structures</span>
    </div>
  <% end %>
  <%= link_to age_criteria_path, class:'home-link mx-5' do %>
    <div class='card text-center section-link py-2 px-3'>
      <div class='image'>
        <%= image_tag 'age.png', style:'height:150px;padding:5px' %>
      </div>
      <span>Age Criteria</span>
    </div>
  <% end %>
  <%= link_to students_path, class:'home-link mx-5' do %>
    <div class='card text-center section-link py-2 px-3'>
      <div class='image'>
        <%= image_tag 'students.png', style:'height:150px;padding:5px' %>
      </div>
      <span>Students</span>
    </div>
  <% end %>
  <%= link_to payments_path, class:'home-link mx-5' do %>
    <div class='card text-center section-link py-2 px-3'>
      <div class='image'>
        <%= image_tag 'payment.png', style:'height:150px;padding:5px' %>
      </div>
      <span>Payment</span>
    </div>
  <% end %>
</div>
