<div class="w-25 mx-auto p-4 mt-5 bg-secondary text-light">
  <h1 class="text-center"> Complete Sign-up </h1>
  <%= form_with model: @admin, url: invite_admin_path(@invitation.token) do |f|%>
    <div class="mb-3">
    <%= f.label :email, class:"form-label" %><br>
    <%= f.email_field :email, value: @invitation.email, disabled: true, class:"form-control" %>
    </div>
    <div class="mb-3">
    <%= f.label :password, class:"form-label"  %>
    <%= f.password_field :password, class:"form-control" %>
    </div>  
    <div class="mb-3">
    <%= f.label :password_confirmation, class:"form-label"  %>
    <%= f.password_field :password_confirmation, class:"form-control" %>
    </div>
    <%= f.submit "Sign-up", class:"btn btn-primary"%>
  <% end %>
