<%= form_with model: @age_criteria do |f|%>
  <div class='row g-3'>
    <div class='mb-3 col-md-6'>
      <%= f.label :class_category_id, 'Class', class:'form-label required' %>
      <%= f.select :class_category_id, ClassCategory.pluck('classname','id'),{}, class:'form-select', disabled: is_edit %>
    </div>
    <div class='mb-3 col-md-6'>
      <%= f.label :date_of_birth_after, class:'form-label required' %>
      <%= f.date_field :date_of_birth_after, class:'form-control'%>
      <p class='text-danger'><%= show_errors(@age_criteria, :date_of_birth_after) %></p>
    </div>
    <div class='mb-3 col-md-6'>
      <%= f.label :date_of_birth_before, class:'form-label required' %>
      <%= f.date_field :date_of_birth_before, class:'form-control', id:'date-of-birth-before' %>
      <p class='text-danger'><%= show_errors(@age_criteria, :date_of_birth_before) %></p>
    </div>
    <div class='mb-3 col-md-6'>
      <%= f.label :age, class:'form-label' %>
      <%= f.number_field :age, class:'form-control', readonly: true, id:'age' %>
      <p class='text-danger'><%= show_errors(@age_criteria, :age) %></p>
    </div>
    <div class='mb-3 col-md-6'>
      <%= f.label :date_as_on, class:'form-label required' %>
      <%= f.date_field :date_as_on, class:'form-control', id:'date-as-on' %>
      <p class='text-danger'><%= show_errors(@age_criteria, :date_as_on) %></p>
    </div>
    <%= f.submit 'Save', class:'btn btn-primary'%>
  </div>
<% end %>
