<div class='container'>
  <%= link_to 'Add Criteria', new_age_criterium_path, class:'btn btn-info'%>
  <button onclick='history.back()' class='btn btn-info float-end'>Go Back</button>
  <h1 class='text-center'> Age Criteria </h1>
  <div class='table-responsive mb-5'>
    <table class='table table-hover container text-center table-bordered border-dark text-center'>
      <thead>
        <tr>
          <th scope='col'>S.No.</th>
          <th scope='col'>Class</th>
          <th scope='col' colspan='2'>Date of birth(range)</th>
          <th scope='col'>Age</th>
          <th scope='col'>Date as on</th>
          <th scope='col'>Edit</th>
          <th scope='col'>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @age_criteria.each_with_index do |a, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= a.class_category[:classname] %></td>
            <td><%= a.date_of_birth_after %></td>
            <td><%= a.date_of_birth_before %></td>
            <td><%= a.date_as_on.year - a.date_of_birth_before.year %></td>
            <td><%= a.date_as_on %></td>
            <td><%= link_to 'Edit', edit_age_criterium_path(a), class:'btn btn-warning' %></td>
            <td>
              <%= form_with model: @age_criteria, url: age_criterium_path(a), method: :delete do |f| %>
                <%= f.submit 'Delete', class:'btn, btn-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
