<div class="w-50 mx-auto p-4 mt-5 text-dark border border-dark">
  <h1 class="text-center"> Add Criteria</h1>
  <%= form_with model: @age_criteria do |f|%>
    <div class="row g-3">
      <div class="mb-3">
        <%= f.label :classname, "Class", class:"form-label" %>
        <%= f.select :classname, ClassCategory.pluck('classname','id'), class:"form-control" %>
      </div>
      <div class="mb-3 col-md-6">
        <%= f.label :date_of_birth_after, class:"form-label" %>
        <%= f.date_field :date_of_birth_after, class:"form-control", id:"date-of-birth-after" %>
      </div>
      <div class="mb-3 col-md-6">
        <%= f.label :date_of_birth_before, class:"form-label" %>
        <%= f.date_field :date_of_birth_before, class:"form-control" %>
      </div>
      <div class="mb-3 col-md-6">
        <%= f.label :age, class:"form-label" %>
        <%= f.number_field :age, class:"form-control", readonly: true, id:"age" %>
      </div>
      <div class="mb-3 col-md-6">
        <%= f.label :date_as_on, class:"form-label" %>
        <%= f.date_field :date_as_on, class:"form-control", id:"date-as-on" %>
      </div>
      <%= f.submit "Add", class:"btn btn-primary"%>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag 'age_criteria' %>