<div class="container">
  <%= link_to "Add Student", new_student_path, class:"btn btn-info"%>
  <h1 class="text-center"> Students </h1>
  <table class="table table-hover container">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Age</th>
        <th scope="col">Class</th>
        <th scope="col">Section</th>
        <th scope="col">Academic Year</th>
        <th scope="col">Father's Name</th>
        <th scope="col">Mother's Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each_with_index do |s, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= s.name %></td>
          <td><%= s.email %></td>
          <td><%= s.date_of_birth %></td>
          <td><%= s.age %></td>
          <td><%= s.class_category[:classname] %></td>
          <td><%= s.section[:section] %></td>
          <td><%= s.academic_year %></td>
          <td><%= s.father_name %></td>
          <td><%= s.mother_name %></td>
          <td><%= s.address %></td>
          <td><%= s.contact_number %></td>
          <td>
           <%= form_with model: @student, url: student_path(s), method: :delete, data: {confirm: "Are you sure?"} do |f| %>
              <%= f.submit "Delete", class:"btn, btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
