<nav class="navbar navbar-expand-lg navbar-light px-3 mb-3">
  <% if current_admin %>
    <%= link_to "Home", admins_path, class:"navbar-brand"%>
  <% else %>
    <%= link_to "Home", login_path, class:"navbar-brand"%>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-between">
      <% if current_admin %>
        <span class='nav-link'> Logged in as <%= current_admin.email %> </span>
        <li class="nav-item nav-link mx-md-2 bg-danger"><a href="/logout" class="text-decoration-none text-light p-2">Logout</a>
          <li class="nav-item mx-md-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#notificationModal">
              <i class="fa-regular fa-bell"></i>
              <span class="badge badge-light" id="notification-count"><%= current_admin.notifications.unread.count %></span>
            </button>
          </li>
        <% end %>
      </div>
    </div>
    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-top-right" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% if current_admin %>
              <button class="btn btn-primary" id="mark-read-btn">Mark All as Read</button>
              <div id="notifications-container">
                <% current_admin.notifications.unread.each do |n| %>
                  <div class="notification-item"> <%= n[:message] %> </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <%= javascript_pack_tag 'notification' %>
