<%= form_for :search_students, url: search_students_path, method: :get do |form| %>
  <div class='row'>
    <div class='mb-3 col-md-3'>
      <%= form.label :filter_column, 'Filter By', class:'form-label' %>
      <%= form.select :filter_column, ['age', ['class','classname'], 'section', 'academic_year'], {value: params[:search_students].presence && params[:search_students][:filter_column], prompt: 'Please Select'}, class:'form-select' %>
    </div>
    <div class='mb-3 col-md-2'>
    <%= form.label :filter_value, 'Filter Value', class:'form-label' %>
      <%= form.text_field :filter_value, value: params[:search_students].presence && params[:search_students][:filter_value], placeholder:'Filter Value', class:'form-control' %>
    </div>
    <div class='mb-3 col-md-3'>
      <%= form.label :sort_by, 'Sort By', class:'form-label' %>
      <%= form.select :sort_by, ['name', 'email', 'date_of_birth', ['class', 'classname'],'academic_year'], {value: params[:search_students].presence && params[:search_students][:sort_by], prompt: 'Please Select'}, class:'form-select' %>
    </div>
    <div class='mb-3 col-md-4 d-flex align-items-end'>
      <%= form.text_field :query, value: params[:search_students].presence && params[:search_students][:query], placeholder:'Search', class:'form-control mx-2' %>
      <%= form.submit 'Search', class:'btn btn-outline-success' %>
    </div>
  </div>
<% end %>
