<% unless @students.nil? %>
  <% if @students.empty? %>
    <h2 class='text-center' >No student found matching your query.</h2>
  <% else %>
    <h1 class='text-center'> Students </h1>
    <div class='table-responsive mb-5'>
      <table class='table table-hover container table-bordered border-dark text-center'>
        <thead>
          <tr>
            <th scope='col'>Student Id</th>
            <th scope='col'>Name</th>
            <th scope='col'>Email</th>
            <th scope='col'>Date of birth</th>
            <th scope='col'>Address</th>
            <th scope='col'>Show</th>
            <th scope='col'>Edit</th>
            <th scope='col'>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |s| %>
            <tr>
              <td><%= s.id %></td>
              <td><%= s.name %></td>
              <td><%= s.email %></td>
              <td><%= s.date_of_birth %></td>
              <td><%= s.address %></td>
              <td><%= link_to 'Show', student_path(s), class:'btn btn-info' %></td>
              <td><%= link_to 'Edit', edit_student_path(s), class:'btn btn-warning' %></td>
              <td>
                <%= form_with model: @student, url: student_path(s), method: :delete, data: {confirm: 'Are you sure?'} do |f| %>
                  <%= f.submit 'Delete', class:'btn, btn-danger' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
