<div class='container'>
  <div class='clearfix mb-3'>
    <button onclick='history.back()' class='btn btn-info float-end'>Go Back</button>
  </div>
  <div class="w-res mx-auto p-4 text-dark border border-dark">
    <h1 class="text-center"> Invite Admin </h1>
    <%= form_with model: @invitation, url: invitations_path do |f|%>
      <div class="mb-3">
        <%= f.label :email, class:"form-label required" %>
        <%= f.email_field :email, class:"form-control" %>
        <p class='text-danger'><%= show_errors(@invitation, :email) %></p>
      </div>
      <%= f.submit "Send Invitation Link", class:"btn btn-primary"%>
    <% end %>
  </div>
</div>
