<div class="w-50 mx-auto p-4 mt-5 text-dark border border-dark">
  <h1 class="text-center"> Add Payment </h1>
  <%= form_with model: @payment do |f|%>
    <div class="row g-3">
      <div class="mb-3 col-md-4">
        <%= f.label :student_id, "Student Id", class:"form-label" %><br>
        <%= f.number_field :student_id, class:"form-control" %>
      </div>
      <div class="mb-3 col-md-4">
        <%= f.label :name, class:"form-label" %><br>
        <%= f.text_field :name, class:"form-control", readonly:true %>
      </div>
      <div class="mb-3 col-md-4">
        <%= f.label :email, class:"form-label" %><br>
        <%= f.email_field :email, class:"form-control", readonly:true %>
      </div>
      <div class="mb-3 col-md-4">
        <%= f.label :academic_year, class:"form-label" %><br>
        <%= f.number_field :academic_year, class:"form-control", readonly:true %>
      </div>
      <div class="mb-3 col-md-4">
        <%= f.label :date_of_birth, class:"form-label" %><br>
        <%= f.date_field :date_of_birth, class:"form-control", readonly:true %>
      </div>
      <div class="mb-3 col-md-4">
        <%= f.label :contact_number, class:"form-label" %><br>
        <%= f.number_field :contact_number, class:"form-control", readonly:true %>
      </div>
      <div class="mb-3 col-md-12">
        <%= f.label :address, class:"form-label" %><br>
        <%= f.text_field :address, class:"form-control", readonly:true %>
      </div>
      <div class="mb-3 col-md-4">
        <%= f.label :mode_of_payment, class:"form-label" %><br>
        <%= f.select :mode_of_payment, Payment.mode_of_payments.keys, {}, class:"form-select" %>
      </div>
      <div class="mb-3 col-md-4">
        <%= f.label :amount, class:"form-label" %><br>
        <%= f.number_field :amount, class:"form-control" %>
      </div>
      <div class="mb-3 col-md-4">
        <%= f.label :status, class:"form-label" %><br>
        <%= f.select :status, Payment.statuses.keys, {}, class:"form-select" %>
      </div>
      <div class="mb-3 col-md-12">
        <%= f.label :notes, class:"form-label" %><br>
        <%= f.text_field :notes, class:"form-control" %>
      </div>
      <%= f.submit "Save", class:"btn btn-primary w-100"%>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag 'payment' %>